/.cask/
/.org-id-locations
/auto-save-list/
/elpa/
/emms/
/eshell/
*~
/persist/
/projectile-bookmarks.eld
/quelpa/
/recentf
/settings.el
/tramp
/transient/
/url/
/.cache/
/.python-environments/
/elpy/
/games/
/projectile.cache
/image-dired/
/.lsp-session-v1
